<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rating Exam Question Practice</title>
    <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

</head>
<body>
    {% if user.is_authenticated %}
        Hi {{ user.username }}
    <p><a href="{% url 'logout' %}">logout</a></p>
    {% endif %}

    {% load static %}
    <h1>Music Theory Questions</h1>
    <div id="question">{{message}}</div>
    <div id="answer_options"></div>
    <div id="answer_display"></div>
    <button id="submit_answer">Submit Answer</button>
    <button id="new_question">Get New Question</button>
    <button id="get_help">Get Help</button>
    <div id="help_display"></div>



<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/helpSteps.js' %}"></script>

</body>
</html>