<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

</head>
<body>

    {% load static %}
    <h1>Music Theory Questions</h1>
    <div id="question">{{message}}</div>
    <div id="answer_options"></div>
    <div id="answer_display"></div>
    <button id="submit_answer">Submit Answer</button>
    <button id="new_question">Get New Question</button>


<script src="{% static 'js/app.js' %}"></script>

</body>
</html>